{
  "presets": [["next/babel"]],
  "env": {
    "development": {
      "plugins": ["inline-dotenv"]
    },
    "production": {
      "presets": [
        [
          "next/babel",
          {
            "preset-env": {
              "useBuiltIns": "usage",
              "corejs": "3.6.5",
              "targets": "> 0.25%, not dead",
              "debug": false
            }
          }
        ]
      ]
    },
    "test": {
      "plugins": ["inline-dotenv"]
    }
  },
  "plugins": [
    "add-react-displayname",
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    "transform-inline-environment-variables",
    [
      "babel-plugin-styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ]
  ]
}
