.next/
node_modules/
npm-debug.log
build

coverage/
.coveralls.yml
yarn-error.log
.env.local
schema.graphql
cypress//integration/examples
.vscode/
.DS_Store
.eslintcache

cypress/videos/*
tsconfig.tsbuildinfopublic/sw.js
public/sw.js
public/sw.js.map
public/workbox-*
tsconfig.tsbuildinfo
