img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * CONTENT WRAPPER
 */

.wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-right: 1.5em;
  padding-left: 1.5em;
  max-width: 1080px;
}
