<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Responsive CSS Masonry - W3Bits</title>
    <link rel="stylesheet" href="files/css/labs.css" />
    <link rel="stylesheet" href="files/css/masonry.css" />
  </head>
  <body>
    <div class="wrapper">
      <div class="masonry bordered">
        <div class="brick">
          <img
            src="files/images/cherry-plant.jpg"
            alt="Cherry plant"
            title="Cherry plant"
          />
        </div>
        <div class="brick">
          <img
            src="files/images/oranges-pomegranates.jpg"
            alt="Oranges and Pomegranates"
            title="Oranges and Pomegranates"
          />
        </div>
        <div class="brick">
          <img
            src="files/images/strawberry.jpg"
            alt="Strawberry"
            title="Strawberry"
          />
        </div>
        <div class="brick">
          <img
            src="files/images/blueberries.jpg"
            alt="Blueberries"
            title="Blueberries"
          />
        </div>
        <div class="brick">
          <img src="files/images/pears.jpg" alt="Pears" title="Pears" />
        </div>
        <div class="brick">
          <img
            src="files/images/easter-eggs.jpg"
            alt="Easter-eggs"
            title="Easter-eggs"
          />
        </div>
        <div class="brick">
          <img src="files/images/lemons.jpg" alt="Lemons" title="Lemons" />
        </div>
        <div class="brick">
          <img
            src="files/images/cherries.jpg"
            alt="Cherries"
            title="Cherries"
          />
        </div>
        <div class="brick">
          <img src="files/images/grapes.jpg" alt="Grapes" title="Grapes" />
        </div>
      </div>
      <!-- .masonry -->
    </div>
  </body>
</html>
