/*
*
* {{ properCase name }}
*
*/

import  React from 'react'

// import { inject, observer } from 'mobx-react'
// import Link from 'next/link'
// import styled from 'styled-components'

{{#if wantMessages}}
import { FormattedMessage } from 'react-intl'
import messages from './messages'
{{/if}}

interface Iprops {
  any?: any
}

// @inject('')
// @observer
class {{ properCase name }} extends React.Component<Iprops, {}> {
  componentDidMount() {}

  componentWillUnmount() {}

  render() {
    return (
      <div>
      {{#if wantMessages}}
        <FormattedMessage {...messages.header} />
      {{/if}}
      </div>
    )
  }
}

export default {{ properCase name }}
