 /**
 *
 * {{ properCase name }}
 *
 */

import * as React from 'react'

//import styled from 'styled-components'

{{#if wantMessages}}
import { FormattedMessage } from 'react-intl'
import messages from './messages'
{{/if}}

interface Iprops {}

export const {{ properCase name }}: React.StatelessComponent<Iprops> = props => {
  return (
    <div>
    {{#if wantMessages}}
      <FormattedMessage {...messages.header} />
    {{/if}}
    </div>
  )
}
